{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
  <div class="container">
    <h1>Address Book: New Contact</h1>
    <hr>
    <!-- form -->
    <form action="index.html" method="post">
      <div class="form-group">
        <p>First Name:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="form-group">
        <p>Last Name:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="form-group">
        <p>Phone Number:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="form-group">
        <p>Email:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="form-group">
        <p>Image URL:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <hr><hr>
      <!-- Bot Line -->
      <div class="col-md-2 form-group">
        <p>Line 1:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="col-md-2 form-group">
        <p>Line 2:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="col-md-2 form-group">
        <p>City:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="col-md-2 form-group">
        <p>State:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="col-md-2 form-group">
        <p>Zip:</p>
        <input class="form-control" type="text" name="name" value="">
      </div>
    </form>
  </div>

  <div class="container">
    <a class="btn btn-warning" href="/">Cancel</a>
  </div>

{% endblock %}
